{% extends 'game/bugs.html.twig' %}

{% block gamebody %}
        <div class="panel panel-success jeden_ttlo">
            <div class="panel-heading">
                <span>ZGŁOŚ BŁĄD</span>
            </div>
            <div class="panel-body">
                {% if list %}
                    {% for bug in list %}
                        <div class="row row-centered">
                            <div class="col-xs-12 col-md-8 col-centered">
                                <button class="btn {{ bug.done ? 'btn-success' : 'btn-danger' }} btn-block"
                                        data-toggle="modal" data-target="#{{ bug.id }}" >{{ bug.title }}</button>
                            </div>
                        </div>
                        <div class="modal fade" id="{{ bug.id }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <span class="text-medium">{{ bug.title }}</span>
                                    </div>
                                    <div class="modal-body text-center">
                                        {{ bug.content }}
                                        <br />Zgłoszony: {{ bug.time|date }}
                                        {% if app.user.admin %}
                                            <br />Zgłoszony przez: {{ bug.reportedBy }}
                                        {% endif %}
                                        {% if bug.done %}
                                            <br /><span class="zielony">Poprawiony</span>
                                        {% else %}
                                            <br /><span class="czerwony">Nie poprawiony</span>
                                        {% endif %}
                                    </div>

                                    <div class="modal-footer">
                                        {% if app.user.admin %}
                                            <div class="btn-group">
                                                <button class="btn btn-success usun" data-id="{{ bug.id }}">USUŃ</button>
                                                <button class="btn btn-success popraw" data-id="{{ bug.id }}">POPRAW</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info text-center"><span>Brak zgłoszonych błędów.</span></div>
                {% endif %}
                <div class="row row-centered">
                    <button class="btn btn-primary powrot">POWRÓT</button>
                </div>
            </div>
    </div>

{% endblock %}