{% extends 'game/gamebase.html.twig' %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/exchange.js') }}"></script>
    <script>
        var actionHref = "{{ path('game_exchange_action') }}";
        var getPokemonHref = "{{ path('game_exchange_get_pokemon') }}";
        var exchangeHref = "{{ path('game_exchange') }}";
    </script>
{% endblock %}

{% block gamebody %}
        <div class="panel panel-success jeden_ttlo">
            <div class="panel-heading"><span>WYMIANA</span></div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li {{ active == 1 ? 'class="active"' }}>
                        <a data-toggle="tab" href="#skamielina">Skamieliny</a>
                    </li>
                    <li {{ active == 2 ? 'class="active"' }}>
                        <a data-toggle="tab" href="#dukaty">Dukaty</a></li>
                </ul>

                <div class="tab-content">
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                    <span>
                    {{ message }}
                    </span>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                    <span>
                    {{ message|raw }}
                    </span>
                        </div>
                    {% endfor %}

                    <div id="skamielina" class="tab-pane fade {{ active == 1 ? 'in active' }}">
                        <div class="row nomargin">
                            {% if pokemonsInExchange %}
                                <div class="alert alert-info">
                                    <span>Pokemony w trakcie ożywiania:</span>
                                </div>
                                {% for pokemon in pokemonsInExchange %}
                                    <div class="well well-primary jeden_ttlo">
                                        <div class="row nomargin">
                                            <div class="col-xs-2">
                                                <img src="{{ asset('img/poki/'~pokemon.pokemonId~'.png') }}" class="img-responsive targ_pok"/>
                                            </div>
                                            <div class="col-xs-2 targ-line">{{ pokemonInfo(pokemon.pokemonId)['nazwa'] }}</div>
                                            <div class="col-xs-8 targ-line">
                                                {% if pokemon.time <= date().timestamp %}
                                                    <button class="btn btn-primary oddaj" data-id="{{ pokemon.id }}">Odbierz Pokemona</button>
                                                {% else %}
                                                    Pozostało: {{ time2string(pokemon.time - date().timestamp) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="well well-primary jeden_ttlo">
                                <div class="row nomargin">
                                    <div class="col-xs-3">
                                        <img src="{{ asset('img/przedmioty/skamielina.png') }}" class="img-responsive"/>
                                    </div>
                                    <div class="col-xs-9 text-center">Posiadasz {{ parts }} części skamielin.
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-info margin-top text-center">
                                <span>Oddaj swoje części, a my ożywimy z nich Pokemona.<br/>Proces ożywiania trwa jeden dzień.</span>
                            </div>

                            <div class="row nomargin row-centered">
                                <div class="col-xs-6 col-centered">
                                    <button class="btn btn-primary btn-block {{(parts > 64) ? 'wymien' : 'disabled" data-title="Za mało części skamielin" data-toggle="tooltip'}}"
                                            data-id="142" data-confirm="0">
                                        <img src="{{ asset('img/poki/142.png') }}" class="img-responsive center"/><br/>Aerodactyl
                                        - 65 części
                                    </button>
                                </div>
                                <div class="col-xs-6 col-centered">
                                    <button class="btn btn-primary btn-block {{(parts > 39) ? 'wymien' : 'disabled" data-title="Za mało części skamielin" data-toggle="tooltip'}}"
                                            data-id="138" data-confirm="0">
                                        <img src="{{ asset('img/poki/138.png') }}" class="img-responsive center"/><br/>Omanyte
                                        - 40 części
                                    </button>
                                </div>
                                <div class="col-xs-6 col-centered">
                                    <button class="btn btn-primary btn-block {{(parts > 39) ? 'wymien' : 'disabled" data-title="Za mało części skamielin" data-toggle="tooltip'}}"
                                            data-id="140" data-confirm="0">
                                        <img src="{{ asset('img/poki/140.png') }}" class="img-responsive center"/><br/>Kabuto
                                        - 40 części
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="dukaty" class="tab-pane fade {{ active == 2 ? 'in active' }}">
                        <div class="row nomargin">
                            <div class="well well-primary jeden_ttlo">
                                <div class="row nomargin">
                                    <div class="col-xs-3">
                                        <img src="{{ asset('img/przedmioty/dukat.png') }}" class="img-responsive"/>
                                    </div>
                                    <div class="col-xs-9 text-center">
                                        Posiadasz {{ coins }} dukatów.
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-info margin-top text-center">
                                <span>W tym miejscu możesz wymienić swoje dukaty na Pokemony lub rzadkie przedmioty.</span>
                            </div>
                            <div class="row nomargin row-centered">
                                <div class="col-xs-6 col-centered">
                                    <button class="btn btn-primary btn-block {{(coins > 149) ? 'wymien_d' : 'disabled" data-title="Za mało dukatów" data-toggle="tooltip'}}"
                                            data-id="133" data-confirm="0">
                                        <img src="{{ asset('img/poki/133.png') }}" class="img-responsive center"/><br/>Eevee
                                        - 150 dukatów
                                    </button>
                                </div>
                                <div class="col-xs-6 col-centered">
                                    <button class="btn btn-primary btn-block {{(coins > 49) ? 'wymien_d' : 'disabled" data-title="Za mało dukatów" data-toggle="tooltip'}}"
                                            data-id="132" data-confirm="0">
                                        <img src="{{ asset('img/poki/132.png') }}" class="img-responsive center"/><br/>Ditto
                                        - 50 dukatów
                                    </button>
                                </div>
                                <div class="col-xs-6 col-centered">
                                    <button class="btn btn-primary btn-block {{(coins > 119) ? 'wymien_d' : 'disabled" data-title="Za mało dukatów" data-toggle="tooltip'}}"
                                            data-id="masterball" data-confirm="0">
                                        <img src="{{ asset('img/balle/Masterball.png') }}" class="img-responsive center"/><br/>Masterball
                                        - 120 dukatów
                                    </button>
                                </div>
                                <div class="col-xs-6 col-centered">
                                    <button class="btn btn-primary btn-block {{(coins > 99) ? 'wymien_d' : 'disabled" data-title="Za mało dukatów" data-toggle="tooltip'}}"
                                            data-id="candy" data-confirm="0">
                                        <img src="{{ asset('img/przedmioty/candy.png') }}" class="img-responsive center"/><br/>Rare
                                        Candy - 100 dukatów
                                    </button>
                                </div>
                                <div class="col-xs-6 col-centered">
                                    <button class="btn btn-primary btn-block {{(coins > 79) ? 'wymien_d' : 'disabled" data-title="Za mało dukatów" data-toggle="tooltip'}}"
                                            data-id="part" data-confirm="0">
                                        <img src="{{ asset('img/przedmioty/skamielina.png') }}" class="img-responsive center"/>
                                        <br/>Część skamieliny - 80 dukatów
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}