{%  if ajax == false %}
    {% block header %}
        {% include 'game/template/header.html.twig' %}
    {% endblock %}
    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
    <script>
        var pokemonInfoHref = "{{ path('game_pokemon', {'id' : 'replace'}) }}";
        var leftHref = "{{ path('game_left') }}";
        var URL = "{{ path('homepage') }}";
        var trainingHref = "{{ path('game_training', {'id' : 'replace'}) }}";
        var feedHref = "{{ path('game_footer_feed', {'id' : 'replace'}) }}";
        var settings = {
            'clock' : {{ app.session.get('userSession').userSettings.getClock }},
            'tooltip' : {{ app.session.get('userSession').userSettings.getTooltip }},
            'hints' : {{ app.session.get('userSession').userSettings.getHints }}
            };

    </script>
    </head>
    <body>
    {% block menu %}
        {% include 'game/template/menu.html.twig' %}
    {% endblock %}
    <div class="col-xs-12 col-sm-4 col-md-3" id="lewo">
        {% block clock %}
            <div id="clock"></div>
        {% endblock %}
        <div id="tabelka">
            {% block table %}
                {% include 'game/template/left.html.twig' %}
            {% endblock %}
        </div>
    </div>
    {% include 'game/template/modals.html.twig' %}
    <div class="col-xs-12 col-sm-8 col-md-9" id="prawo">
        {% block hint %}
            <div id="hint" class="hidden alert alert-info" data-href="{{ path('game_hint') }}">
                <span id="hintContent"></span>
            </div>
        {% endblock %}
{% endif %}

{% block gamebody %}
{% endblock %}

{%  if ajax == false %}
    {% include 'game/template/footer.html.twig' %}
    </div>
    </body>
    </html>
{%  endif %}