{% extends 'game/gamebase.html.twig' %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/messages.js') }}"></script>
{% endblock %}
{% block gamebody %}
    <div class="panel panel-success jeden_ttlo">
        <div class="panel-heading text-medium"><span>WIADOMOŚCI</span></div>
        <div class="col-xs-12 text-center" id="info"></div>
        <div class="panel-body">
            <div class="row nomargin">
                <div class="col-xs-12 text-center margin_bottom">
                    <button class="btn btn-primary nowa" href="NOWAWIADOMOŚC">NAPISZ NOWĄ WIADOMOŚĆ</button>
                </div>
                {% for message in messages %}
                    <div class="wiadomosc col-xs-12 kursor raport-line" data-id="{{ message.id }}" data-href="{{ path('game_message_show', {id: message.id}) }}">
                        <div class="well well-primary jeden_ttlo padding_small margin_2">
                            <div class="row nomargin text-center">
                                <div class="col-xs-5">
                                    {{ message.isRead ? '' : '<span class="czerwony">NOWA!</span>' }}
                                    {{ message.lastDate|date }}
                                </div>
                                <div class="col-xs-5 text-left">
                                    <a class="link_adresat" target="_blank" href="<?=URL?>profil/<?=$wiadomosc['id_nadawca']?>">{{ message.userInfo.login }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% if ajax == false %}
    <div class="modal fade in" id="wiadomosci_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title pogrubienie text-center"></div>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}