<a href="{{ path('game_hunting_place', {'place' : 'polana'}) }}"><img src="{{ asset('img/dzicze/1.jpg') }}" class="dzicz_img" data-place="polana" data-toggle="tooltip" data-title="Polana" /></a>
<a href="{{ path('game_hunting_place', {'place' : 'wyspa'}) }}"><img src="{{ asset('img/dzicze/2.jpg') }}" class="dzicz_img" data-place="wyspa" data-toggle="tooltip" data-title="Wyspa" /></a>
<a href="{{ path('game_hunting_place', {'place' : 'grota'}) }}"><img src="{{ asset('img/dzicze/3.jpg') }}" class="dzicz_img" data-place="grota" data-toggle="tooltip" data-title="Grota" /></a>
<a href="{{ path('game_hunting_place', {'place' : 'domstrachow'}) }}"><img src="{{ asset('img/dzicze/4.jpg') }}" class="dzicz_img" data-place="domstrachow" data-toggle="tooltip" data-title="Dom strachów" /></a>
<a href="{{ path('game_hunting_place', {'place' : 'gory'}) }}"><img src="{{ asset('img/dzicze/5.jpg') }}" class="dzicz_img" data-place="gory" data-toggle="tooltip" data-title="Góry" /></a>
<a href="{{ path('game_hunting_place', {'place' : 'wodospad'}) }}"><img src="{{ asset('img/dzicze/6.jpg') }}" class="dzicz_img" data-place="wodospad" data-toggle="tooltip" data-title="Wodospad" /></a>
<a href="{{ path('game_hunting_place', {'place' : 'safari'}) }}"><img src="{{ asset('img/dzicze/7.jpg') }}" class="dzicz_img" data-place="safari" data-toggle="tooltip" data-title="Safari" /></a>
